<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        {% for meta in metadata %}
        <meta name="{{ meta.name }}" content="{{ meta.content }}">
        {% endfor %}
    </head>
    <body>
        <script>(function(d,t){var h=d.getElementsByTagName(t)[0],s=d.createElement(t);s.src='http://www.google-analytics.com/ga.js';s.async=1;_gaq=[["_setAccount","UA-3587044-1"],["_trackPageview"],["_trackPageLoadTime"]];setTimeout(function(){h.parentNode.insertBefore(s,h);},0)}(document,'script'));</script>
        {{ content }}
    </body>
</html>
