<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% for meta in page.metadata %}
        <meta name="{{ meta.name }}" content="{{ meta.content }}">
        {% endfor %}
        <title>{{ page.title }}</title>
        <style type="text/css">{% include resume-min.css %}</style>
    </head>
    <body>
        <div id="doc">
            {{ content }}
        </div>
        <script>{% include resume-min.js %}</script>
    </body>
</html>
